@import 'mixins';

@include font-face('Montserrat', Montserrat-Regular, 400);
@include font-face('Montserrat', Montserrat-Medium, 500);
@include font-face('Montserrat', Montserrat-SemiBold, 600);
@include font-face('Montserrat', Montserrat-Bold, 700);

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding-top: 39px;
    padding-bottom: 29px;
    background-color: #F5F5F5;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

.header {
    .container {
        padding: 5px 10.5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__phone {
        display: flex;
        align-items: center;
        column-gap: 4px;
        padding-right: 9px;

        &-link {
            font-size: 13px;
            letter-spacing: 0.2px;
            color: #232527;
            text-decoration: none;
        }
    }
}

.services {
    margin-bottom: 9px;

    &__list {
        margin-top: 14px;
        margin-bottom: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 34px;
        padding-right: 34px;
    }

    &__item {
        font-size: 14px;
        font-weight: 500;
        color: #555;

        + li {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -24px;
                top: 50%;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                background-color: #555;
                border-radius: 50%;
            }
        }
    }

    &__description {
        padding-top: 2px;
        padding-bottom: 6px;
        background-color: #909090;
        text-align: center;

        &-text {
            font-size: 10px;
            font-weight: 500;
            color: white;
        }
    }
}

.promo {
    margin-bottom: 45px;

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__wrap {
        position: relative;
    }

    &__image {
        text-align: center;
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        bottom: 33px;
    }

    &__text {
        margin-bottom: 9px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
        color: #E3272D;
        text-align: center;
    }

    &__subtext {
        margin-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.1;
        color: #004D68;
        text-align: center;
    }
}

.video {
    margin-bottom: 362px;

    .container {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
        color: #555;
        line-height: 1.2;
        text-align: center;
    }
}

.reasons {
    .container {
        padding-left: 16px;
        position: relative;
    }

    &__title {
        display: inline-block;
        font-size: 26px;
        font-weight: 600;
        color: #555;
        margin-bottom: 22px;
    }

    &__carousel {
        margin-bottom: 62px;
    }

    .swiper {
        &-slide {
            width: 232px;
            padding-bottom: 36px;
            background-color: white;
            border-radius: 12px;
            //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &__image {
                margin-bottom: 42px;

                img {
                    border-radius: 8px;
                }
            }

            &__list {
                padding-left: 24px;
            }

            &__item {
                position: relative;

                + li {
                    margin-top: 3px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 4px;
                    height: 4px;
                    background-color: black;
                    border-radius: 50%;
                }
            }
        }

        &-button {
            &-prev,
            &-next {
                width: 33px;
                height: 33px;
                top: 18px;
                border: 1px solid darken(#DDE3E9, 20%);
                border-radius: 11px;
                z-index: 2;

                &::after {
                    font-size: 14px;
                    color: #242526;
                }
            }

            &-prev {
                left: 69%;
            }

            &-next {
                right: 35px;
            }

            &-disabled {
                color: #DDE3E9;
            }
        }
    }

    &__btn {
        padding-left: 34px;
        padding-right: 34px;

        .button__sign-up {
            padding: 4px 34px;
        }
    }
}

.button__sign-up {
    padding: 14px 56px;
    background-color: #FF4B50;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.pulse {
    &-circle {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 37px;
        left: 117px;
        border-radius: 50%;
        background-color: #C31230;
        font-weight: 600;
        color: white;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #C31230;
            animation: pulse 1.5s infinite ease-out;
        }

        &::after {
            animation-delay: 0.75s;
        }

        &.circle {
            &-empty {
                width: 30px;
                height: 30px;
                top: 127px;
                left: 230px;
                background-color: rgba(234, 0, 0, 0.6);

                &::before,
                &::after {
                    background-color: rgba(234, 0, 0, 0.6);
                }
            }

            &-blur {
                top: 240px;
                left: 135px;
                background-color: #E10000;

                &::before,
                &::after {
                    background-color: #C31230;
                    filter: blur(0.4px);
                }
            }
        }
    }

    &-text {
        z-index: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}
